@media screen and (max-width: 1100px )
{

	.menu-fonction
	{
		display: block;
		margin-left: 20px;
        margin-right: 20px;	
	}
	
	.elem-fonction
	{
		margin-bottom: 20px;
	}
	#section-restau
	{
		width: auto;
	}
	main
	{
		margin-left:10px;
		margin-right: 10px;
	}
	 }

@media screen and (max-width: 767px )
{
	main
	{
		 margin-left: 0px;
         margin-right: 0px;
	}
	#bloc-restau
	{
		display: block;
		padding-bottom: 40px;
	}
	#section-restau
	{
       border-radius: 20px 20px 0 0;
	}
	
	.elem-fonction , .categorie-restau
	{
		width: 90%;
		margin-left: auto;
		margin-right:auto;
	}
    #container-footer
    {
    	margin-top: 0px;
    }


	#bloc-footer
	{
		flex-direction: column;	
	}
	#container-footer h3
	{
		text-align: left;
		margin-left: 30px;
		margin-bottom: 10px;
	}
	.element-footer p
	{
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.element-footer
	{
		display: flex;
		padding-bottom: 8px;
		padding-left: 30px;
		}
	#bloc_entete
	{ 
	background-color:#F6F6F6;
	padding-bottom : 60px;
	padding-top: 20px;
	}
	#bloc_entete h2
		{
		margin-top : 0px;
		margin-left: 10px;
	}
	#section-fonction
	{
	margin-left:20px;
	}

}













