@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");

body
{
	font-family: 'Roboto', sans-sérif;
	padding: 0;
	margin: 0;
    
}
body h1
{
    font-family: 'Shrikhand', sans-sérif;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

h2
{
    font-weight: bold;
    margin: 0;
}
h3
{
    font-size: 1.1em;
    margin: 0;
}
p
{
    padding: 0;
    margin:0;
}
a
{
    text-decoration: none;
    color: black;
}

header
{
    box-shadow: 0 3px 4px rgb(140 140 140 / 30%);
    width: 90%;
    margin: auto;
}
header .fas
{
    font-size: 1.4em;
    position: absolute;
    top: 40px;
    right: 90%;
}

section
{
    width: 90%;
    margin: auto;
}

section img
{
   width: 100%;
   height: 800px;
   object-fit: cover;
   border-radius: 50px 50px 0 0;
   margin-top: 40px;
    
}
#background-les-menus
{
    background-color: #F4F4F4;
    text-align: center;
    position: relative;
    margin-top: -100px;
}

.titre-page h2
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    font-size: 2.3em;
    padding: 20px;
}


.titre-page
{
    border-radius: 50px 50px 0 0;
    width: 42%;
    background-color: #F4F4F4;
    position: relative;
    bottom: 85px;
}
/*---- animation du coeur--- */ 
.iconEffet
{
    position: absolute;
    left: 50%;
    top: 30%;
}
.iconEffet .fas
{
    color:transparent;
    position: relative;
    left: 36px;
    
}

.iconEffet:hover .fas
{
    color:#FF79DA;
    animation: fill-heart 3s ease-in-out ;
}
.iconEffet:hover .far
{
    opacity:1;
}
@keyframes fill-heart {
    0%{
        
        transform: scale(0);
    }
    50%{
        
        transform: scale(1);
        
    }
    100%{
        
        transform: scale(0);
        
    }
    
}

 /**************Section flex****************/
 
 #bloc-categorie-menu h2
 {
    
     text-align: left;
     border-bottom: 4px solid #99e2d0;
     width: 17%;
     padding-bottom: 5px;
 }

.element-menu
{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    text-align: start;
    
 }
    /*animation apparition des menus en cascade*/ 
 .categorie-menu:nth-child(1) 
 {
     animation-delay: 300ms;
 }
 .categorie-menu:nth-child(2) 
 {
     animation-delay: 900ms;
 }
 .categorie-menu:nth-child(3)
 {
     animation-delay: 1.5s;
 }
 .categorie-menu
 {
      animation: border-anime .8s ease-in-out forwards;
      opacity: 0;
 }
 @keyframes border-anime
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.element-menu p
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.8;
}

.anim-element-menu
{
    display: block;
    overflow: hidden;
    padding: 15px 10px;
    width: 100%;
}


.categorie-menu  
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: auto;
}
        /*--------animation element menu-------*/

.box-check-circle
{
    display: flex;
    flex-wrap: nowrap;
}
.rotate-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 900ms ease-in;
    overflow: hidden;
    width: 0;
}

.element-menu span
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rotate-icon .fas
{  
    color: #fff;
    transition: transform 800ms ease-in-out;
}

.element-menu:hover .fas
{
    transform: rotate(360deg);
}
.element-menu:hover .rotate-icon
{
    width: 70px;
}

            /*--------bouton de bas de page------------*/
#background-les-menus button
{
    border: none;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(45deg, #FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 25px;
    box-shadow: 0 2px 3px 3px #b1b1b14b;
    margin-bottom: 35px;
}


/************FOOTER*************/

#container-footer
 {
    background-color: #3B3B3B;
 }
 #container-footer h3
 {
    font-family: 'Shrikhand', sans-sérif;
    color: white;
    font-weight: 300;
    margin: 0;
    padding-top: 40px;
    text-align: center;
 }


 .element-footer
 {
    display: flex;
    padding: 30px;

 }
 #bloc-footer
 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
 }


footer .fas
{
    color: white;
    padding-right: 10px;
}
footer div p
{
    color: white;
}

























