@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");

body
{
	font-family: 'Roboto', sans-sérif;
	padding: 0;
	margin: 0;
    
}
body h1
{
    font-family: 'Shrikhand', sans-sérif;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

h2
{
    font-weight: bold;
    margin: 0;
}
h3
{
    font-size: 1.1em;
    margin: 0;
}
p
{
    padding: 0;
    margin:0;
}
a
{
    text-decoration: none;
    color: black;
}

header
{
    box-shadow: 0 3px 4px rgb(140 140 140 / 30%);
    width: 90%;
    margin: auto;
}
header .fas
{
    font-size: 1.4em;
    position: absolute;
    top: 40px;
    right: 90%;
}

section
{
    width: 90%;
    margin: auto;
}

section img
{
   width: 100%;
   height: 800px;
   object-fit: cover;
   border-radius: 50px 50px 0 0;
   background-repeat: no-repeat;
   margin-top: 40px;
    
}

#section-les-menus
{
    background-color: #F4F4F4;
    text-align: center;
    position: relative;
    margin-top: -100px;
}

.titre-page h2
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    font-size: 2.3em;
    padding: 20px;
}


.titre-page
{
    border-radius: 50px 50px 0 0;
    width: 42%;
    background-color: #F4F4F4;
    position: relative;
    bottom: 85px;
    
}


 /**************Section flex****************/
#container-menus h2
{
   
    text-align: left;
    border-bottom: 4px solid #99e2d0;
    width: 17%;
    padding-bottom: 5px;
}



.Bloc-menu-page1
{
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 10px;
    background: white;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    text-align: start;
   
}

.Bloc-menu-page1 p
{
    opacity: 0.8;
}

.Bloc-menu-page1 span
{
    text-align: end;
}


#container-menus   /**IMPORTANT**/
{
    
    display: flex;
    justify-content: space-around;
    padding: 20px;


}
.With_Border
{
    width: 32%;
}



/************FOOTER*************/

#container-footer
 {
    background-color: #3B3B3B;

 }
 #container-footer h3
 {
    font-family: 'Shrikhand', sans-sérif;
    color: white;
    margin: 0;
    padding-top: 40px;
    text-align: center;
 }


 .element_footer
 {
    display: flex;
    padding: 30px;

 }
 #bloc-footer
 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
 }


footer .fas
{
    color: white;
    padding-right: 10px;
}
footer div p
{
    color: white;
}

button
{
    border: none;
    padding: 15px;
    border-radius: 25px;
    background:  #9356DC;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 25px;
    box-shadow: 0 2px 3px 3px #b1b1b14b; 
    margin-bottom: 50px;
    
}
























